body {
  margin: 0;
  font-family: -apple-system, BlinkMacSystemFont, 'Segoe UI', 'Roboto', 'Oxygen',
    'Ubuntu', 'Cantarell', 'Fira Sans', 'Droid Sans', 'Helvetica Neue',
    sans-serif;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
}

code {
  font-family: source-code-pro, Menlo, Monaco, Consolas, 'Courier New',
    monospace;

  --fundoMain: hsl(0, 0%, 48%);
  --titulosEDestaque: hsl(0, 0%, 0%);
  --corBotoesEetc: hsl(176, 50%, 47%);
  --selecionadosEActiveStates: hsl(176, 72%, 28%);
  
}